@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: rgb(161, 100, 223);
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

.btn {
  background-color: rebeccapurple;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1.5rem 3rem;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 0.7;
}
